@model Persona  

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model (@Model.Edad)</h1> <!--Model acceder al dato--> <!--model crear tipo de datos dato-->
    <h2>Soy testeador de carros a 2000 lempiras y me los llevo gratis</h2>

    <img id="foto"
        src="~/imagenes/lamborgini23.webp" alt="foto de lamborgini" />
</div>
